@model ProductListViewModel

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            @foreach (var category in Model.Categories)
            {
                <a asp-controller="Home"
                asp-action="Index"
                asp-route-category="@category.Name"
                class="list-group-item list-group-item-action">
                @category.Name
                </a>
            }
        </div>
    </div>
    <div class="col-md-9">
        @if (Model.Products.Count == 0)
        {
            @await Html.PartialAsync("_noproduct")
        }
        else
        {
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                        @await Html.PartialAsync("_product", product)
                    </div>
                }
            </div>
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @for (int i = 0; i < Model.BasePage.TotalPages(); i++)
                            {
                                @if (string.IsNullOrEmpty(Model.BasePage.CurrentCategory))
                                {
                                    <li class="page-item @(Model.BasePage.CurrentPage==i+1?"active":"")">
                                        <a class="page-link" href="/ürünler?page=@(i+1)">@(i+1)</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item @(Model.BasePage.CurrentPage==i+1?"active":"")">
                                        <a class="page-link" href="/ürünler/@Model.BasePage.CurrentCategory?page=@(i+1)">@(i+1)</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        }
    </div>
</div>